/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Individual Styles */
.bot-brd-blu {
  border-bottom: 1px solid $color__blue;
}

/* Posts and pages */

// Site & Accommodation styling
.map-element {
  h2 {
    text-align: center;
    display: inline-block;
  }
}

body {
	width: 100%;
}

.container {
	margin: 0 auto;
	max-width: 980px;
}

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* Comments */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}
