


// #accordion {
//   h3::after {
//   content: url(../../assets/images/arrow-down.png);
//   position: absolute;
//   right:0;
//   }
// }
  
// accordian styling

h3 {
  position: relative;
  width:100%;
}
.ui-icon.iconOpen {
 background: url(../../assets/images/arrow-up.png) no-repeat; 
 background-size: 20px;
 position: absolute;
  right:0;  
  width:20px;
  height: 20px;
  display: block;
}
.ui-icon.iconClosed {
  background: url(../../assets/images/arrow-down.png) no-repeat; 
  background-size: 20px;
 position: absolute;
  right:0; 
  width:20px;
  height: 20px;
  display: block;  

}
// Site & Accommodation styling
.map-element {
  h2 {
    text-align: center;
    display: inline-block;
  }
}
