h3 {
  position: relative;
  width: 100%;
}

.ui-icon.iconOpen {
  background: url(../../assets/images/arrow-up.png) no-repeat;
  background-size: 20px;
  position: absolute;
  right: 0;
  width: 20px;
  height: 20px;
  display: block;
}

.ui-icon.iconClosed {
  background: url(../../assets/images/arrow-down.png) no-repeat;
  background-size: 20px;
  background-position: center;
  position: absolute;
  right: 0;
  width: 20px;
  height: 20px;
  display: block;
}

//site & accomodation styling
.map-element {
  h2 {
    text-align: center;
    display: inline-block;
  }
}

//wedding
.orange-button {
  margin: 1rem;
  display: inline-block;
}

.fact-sheet {
  margin-bottom: 2rem;
  a {
    display: inline-block;
    width: 100%;
    margin-bottom: 1rem;
    margin-left: 2rem;
  }
}

.tab-body.selected {
  left: 0;
  position: relative;
}

.page-id-38 {
  .accordion {
    position: relative;
    h2 {
      border-bottom: 1px solid $color__blue;
    }
  }
}

.entry-content {
  h2 {
    padding-top: 1rem;
  }
}

.caption-course {
  margin-bottom: .5rem;
}

.custom-menu-option {
  margin-top: 2rem;
}

.custom-menu-photo {
  width: 720px;
  height: 180px;
}

.page-id-55 {
  .accordion {
    position: relative;
    h3 {
      border-bottom: 1px solid $color__border-abbr;
      margin: 1rem;
      padding-top: 1rem;
    }
  }
  .ui-accordion-header {
    padding-bottom: .5rem;
  }
}