/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
body {
  background-image: url('../../assets/images/footer-gradient.png');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;

  @include desktop {
    background-image: url('../../assets/images/footer-desktop.png');
    background-position: bottom;
  }
}


.site-footer {
  // background-image: url('../../assets/images/footer-desktop.png');
  // background-position: bottom;
  // background-size: cover;
  color: white;
  font-family: $font__heading;
  line-height: 1.4;
  margin-top: 2rem;
  background-size: cover;
  padding: 2.5rem 1rem 4rem;
  width: 100%;
  position: relative;

  @include desktop {
    padding: 2.5rem 1rem 1rem;
  }

  .footer {
    display: block;

    @include desktop {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }
  }

  h3 {
    font-family: $font__heading;
    font-size: 1.2rem;
    text-align: left;
  }
}

.contact-us {
  display: flex;
  justify-content: space-between;

  @include desktop {
    justify-content: space-around;
  }

  ul {
    display: inline-block;
    font-size: 1.2rem;
    line-height: 2.5rem;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  a {
    color: #fff;
  }
}

.get-notified-email {
  #your-email {
    width: 100%;
    margin-bottom: .5rem;
  }

  input[type=email] {
    border: none;
    border-radius: 15px;
    padding-left: 15px;
    height: 40px;
    box-shadow: inset 0 0 10px #e1e1e1;
  }

  input[type=radio] {
    float: left;
    margin-bottom: 3rem;
    margin-right: .75rem;
    padding-top: 1rem;
    height: 30px;
  }
}

.get-notified-email {
  .get-notified-button {
    background: #f56d00;
    border: none;
    border-radius: 1.2rem;
    box-shadow: none;
    color: #fff;
    cursor: pointer;
    float: right;
    font-family: $font__heading;
    font-size: 1.1rem;
    letter-spacing: .1rem;
    padding: .5rem 1.75rem;
    text-shadow: none;
  }
  p {
    font-size: .9rem;
    line-height: 1.1rem;
    margin-bottom: .5rem;
  }
}

.social-media {
  h3 {
    margin-bottom: 1rem;
    text-align: center;

    @include desktop {
      text-align: left;
    }
  }
  ul {
    list-style: none;
    padding: 0;
    text-align: center;

    @include desktop {
      text-align: left;
    }
  }
  li {
    display: inline-block;
    margin-bottom: .4rem;
    margin-right: .4rem;
  }
}

@media screen and (min-width: 815px) {
  .social-media {
    display: inline-block;
    flex: 0 1 18%;
    ul {
      margin: 0;
      padding: 0;
    }
  }
  .contact-us {
    flex: 0 1 42%;
    display: flex;
    justify-content: space-around;
    height: 200px;
    margin-right: 1rem;
  }
  hr {
    display: none;
  }
  .get-notified-email {
    flex: 0 1 35%;
    display: inline-block;
    border-left: 1px solid #fff;
    padding-left: 3rem;
  }
}

h3 {
  font-size: 1rem;
  line-height: 1.4rem;
  margin: 0 0 .5rem;
  text-align: left;
}