.home-hero {
  align-items: center;
	background: url('../../assets/images/home-hero.png') bottom no-repeat;
  background-size: cover;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;

  @include desktop {
    height: 100vh;
    margin-bottom: 2.5rem;
  }

  .fa-angle-down {
    background-color: transparent;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    font-size: 3.5rem;
    left: 43%;
    padding: 0 .5rem;
    position: absolute;
    top: 77%;

    @include desktop {
      left: 48%;
      top: 95%;
    }
  }
}

.site-description-section {
  box-shadow: 0 2px 35px rgba(0, 0, 0, .2);
  padding: 2rem 0;
  position: relative;

  @include desktop {
    box-shadow: none;
    height: 100vh;
    padding: 0;
  }
}

.description-image {
  margin: 0 auto;
  padding: 0 2rem;

  img {
    display: none;
    height: 100%;
    width: 100vw;

    @include desktop {
      display: initial;
    }
  }
}

.description-text-area {
  padding: 0;
  position: static;

  @include desktop {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 2px 35px rgba(0, 0, 0, .2);
    line-height: 1.8rem;
    padding: 4rem 5rem;
    position: absolute;
    left: 37.5%;
    top: 30px;
    width: 47%;
  }

  h2 {
    margin-top: 0;
    text-transform: uppercase;
  }

  p {
    margin-bottom: 0;
  }

  .site-description-subtitle {
    color: $color__blue;
  }
}

.slogan {
  color: $color__orange;
  font-family: $font__slogan;
  font-size: 2rem;
  margin: 0;
  text-align: center;
  z-index: 1;

  @include desktop {
    font-size: 7rem;
    line-height: 7rem;
  }
}

.text-logo {
  color: #fff;
  font-family: $font__heading;
  font-size: 1rem;
  letter-spacing: .5rem;
  margin: 0;
  text-transform: uppercase;
  z-index: 1;

  @include desktop {
    font-size: 2rem;
  }
}

.carousel-title {
  text-align: center;
}

.flickity-slider {
  display: flex;
  justify-content: space-between;

  .carousel-cell {
    flex: 0 1 32%;
    left: 0%;
    width: 32%;

    h3, p {
      margin: 0;
    }

    .events-thumbnail {
      height: 200px;
    }

    .events-post {
      background-color: yellow;
      border-radius: 0 0 15px 15px;
      padding: 1rem 2rem;
      text-align: center;
    }
  }
}