.home .site-main {
  width: 100%;
  padding: 0;
}

.home-hero {
  align-items: center;
  background-size: cover;
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  min-width: 320px;
  @include desktop {
    height: 100vh;
    margin-bottom: 2.5rem;
  }
  .fa-angle-down {
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    font-size: 3.5rem;
    position: absolute;
    bottom: 8%;
    transform: translateX(-50%);
    @include desktop {
      left: 50%;
      top: 92%;
      transform: translateX(-50%);
    }
  }
}

.site-description-section {
  box-shadow: 0 8px 15px 0 rgba(122, 122, 122, 0.1);
  padding: 2rem 0;
  margin-bottom: 2rem;
  position: relative;

  @include desktop {
    box-shadow: none;
    height: 82vh;
    padding: 0;
  }
}

.description-image {
  margin: 0 auto;
  padding: 0 2rem;
  height: 100%;
  @include desktop {
    height: 70vh;
  }

  img {
    display: none;
    @include desktop {
      display: initial;
      height: 100%;
      object-fit: cover;
      width: 100vw;
    }
  }
}

.description-text-area {
  padding: 0;
  position: static;
  @include desktop {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 8px 15px 0 rgba(122, 122, 122, 0.1);
    line-height: 1.8rem;
    padding: 3rem 5rem;
    position: absolute;
    right: 10%;
    top: 40px;
    width: 675px;
  }
  h2 {
    font-size: 2rem;
    letter-spacing: .1rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
  }
  p {
    margin-bottom: 1rem;
  }
  .site-description-subtitle {
    color: $color__blue;
    margin-bottom: 1rem;
  }
}

.slogan {
  color: $color__orange;
  font-family: $font__slogan;
  font-size: 2rem;
  margin: 0;
  text-align: center;
  z-index: 1;
  @include desktop {
    font-size: 7rem;
    line-height: 7rem;
  }
}

.text-logo {
  color: #fff;
  font-family: $font__heading;
  font-size: 1rem;
  letter-spacing: .5rem;
  margin: 0;
  text-transform: uppercase;
  z-index: 1;
  @include desktop {
    font-size: 2rem;
  }
}

.carousel-title {
  font-size: 1.75rem;
  letter-spacing: .1rem;
  text-align: center;
  text-transform: uppercase;
}

.flickity-slider {
  .carousel-cell {
    border-left: 1.5rem solid #fff;
    border-right: 1.5rem solid #fff;
    flex: 0 1 32%;
    line-height: 0; // margin-left: 7px;
    margin-right: 19px;
    margin-bottom: 1rem;
    position: static;
    width: 100%;
    @include desktop {
      border: none;
      width: 32%;
    }
    h2,
    p {
      line-height: 2rem;
      margin: 0;
    }
    a,
    a:visited {
      color: $color__blue;
    }
    a:hover {
      color: $color__blue-light;
    }
    .events-thumbnail {
      height: 200px;
      object-fit: cover;
      width: 100%;
      @include desktop {
        height: 250px;
      }
    }
    .events-post {
      background-color: #fff;
      border-radius: 0;
      box-shadow: 0 8px 15px 0 rgba(122, 122, 122, 0.1);
      padding: 1rem 2rem;
      text-align: center;
      @include desktop {
        border-radius: 0 0 15px 15px;
      }
    }
    .events-date {
      color: $color__blue-light;
      font-family: $font__heading;
      font-size: 1.2rem;
      text-align: center;
    }
    .activities-thumbnail {
      height: 225px;
    }
    .activities-title {
      color: #fff;
      font-weight: normal;
      line-height: 225px;
      text-align: center;
      vertical-align: middle;
    }
  }
  .carousel-cell.activities {
    border-left: 1.5rem solid #fff;
    border-right: 1.5rem solid #fff;
    margin: 0;
    width: 100%;
    @include desktop {
      border: none;
      margin: .4rem;
      width: 24%;
    }
  }
}

.main-carousel {
  margin-bottom: 3rem;
  .flickity-prev-next-button {
    box-shadow: none;
    color: transparent;
    .arrow {
      fill: $color__blue;
    }
  }
  .flickity-prev-next-button.previous {
    background: transparent;
    display: block;
    left: 0;
    top: 45%;
    @include desktop {
      display: none;
    }
    svg {
      left: 3%;
      @include desktop {
        left: 20%;
      }
    }
  }
  .flickity-prev-next-button.next {
    background: transparent;
    display: block;
    right: 0;
    top: 45%;
    @include desktop {
      display: none;
    }
    svg {
      left: 37%;
      @include desktop {
        left: 20%;
      }
    }
  }
  .flickity-page-dots {
    display: none;
  }
}

.main-carousel.activities {
  .flickity-prev-next-button .arrow {
    fill: $color__blue;
  }
  .flickity-prev-next-button.previous {
    background: transparent;
    display: block;
    left: 0;
    @include desktop {
      left: -50px;
    }
    svg {
      left: 3%;
      @include desktop {
        left: 20%;
      }
    }
  }
  .flickity-prev-next-button.next {
    background: transparent;
    display: block;
    right: 0;
    @include desktop {
      right: -50px;
    }
    svg {
      left: 37%;
      @include desktop {
        left: 20%;
      }
    }
  }
  .flickity-page-dots {
    display: block;
    position: initial;
    margin-top: 1.5rem;
    @include desktop {
      display: none;
    }
    .dot {
      background: $color__blue;
      opacity: 1;
    }
    .is-selected {
      background: $color__orange;
    }
  }
}

.view-all {
  text-align: right;
  padding: 0 1.5rem;
  text-decoration: underline;
  a:visited {
    color: $color__blue;
  }
  a:hover {
    color: $color__blue-light;
  }
  @include desktop {
    padding: 0;
  }
}

.news-events {
  margin-bottom: 0;
  @include desktop {
    margin-bottom: .4rem;
  }
}

.front-tab-head-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include desktop {
    flex-direction: row;
    justify-content: space-between;
  }
}

.front-tab-head {
  color: white;
  cursor: pointer;
  background-position: center;
  background-size: cover;
  font-family: $font__heading;
  font-size: 1.3rem;
  letter-spacing: .1rem;
  margin-bottom: .2rem;
  text-align: center;
  padding: 1.75rem 1rem;
  position: relative;
  width: 100%;
  @include desktop {
    margin-bottom: 0;
    width: 32%;
  }
  &.selected {
    background-position: center;
    .tab-title {
      background-color: $color__orange;
      height: 5px;
      left: 50%;
      position: absolute;
      top: 75%;
      transform: translate(-50%);
      width: 40%;
    }
  }
}

.front-tab-body-container {
  background-color: #fff;
  border-radius: 0;
  box-shadow: 0 8px 15px 0 rgba(122, 122, 122, 0.1);
  margin-bottom: 3rem;
  padding: 1rem 0;
  position: relative;
  @include desktop {
    padding: 2rem 0;
    border-radius: 0 0 15px 15px;
    margin-bottom: 4.5rem;
  }
}

.front-tab-body {
  left: -1000rem;
  padding: .5rem 2rem;
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  @include desktop {
    padding: 1rem 5.5rem;
  }
  &.selected {
    left: 0;
    position: relative;
  }
  .tab-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    @include desktop {
      flex: 0 1 50%;
    }
  }
  .tab-image {
    display: none;
    @include desktop {
      display: initial;
      flex: 0 1 45%;
      width: 45%;
      height: 300px;
      object-fit: cover;
    }
  }
  p {
    margin-bottom: 1rem;
  }
  .orange-button {
    margin: .5rem auto;
    @include desktop {
      margin: 0;
    }
  }
}