/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/

.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}


/* Make sure embeds and iframes fit their containers. */

embed,
iframe,
object {
	max-width: 100%;
}


/* Captions */

.wp-caption {
	margin-bottom: $base__space-unit;
	max-width: 100%;
	img[class*="wp-image-"] {
		@include center-block;
	}
	.wp-caption-text {
		margin: 0.8075rem 0;
	}
}

.wp-caption-text {
	text-align: center;
}


/* Galleries*/

.gallery {
	margin-bottom: $base__space-unit;
	display: flex;
	flex-wrap: wrap;
	@include desktop {
		justify-content: space-between;
	}
	.thumbnails {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
}

.gallery-item {
	outline: 1px solid $color__background-hr;
	flex: 0 1 33.33vw;
	margin: 0;
	@include desktop {
		flex: 0 1 31vw;
		margin: 0 0 1.5rem 0;
	}
	.gallery-icon {
		object-fit: cover;
		height: 100%;
		width: 100%;
	}
	img {
		object-fit: cover;
		height: 100%;
		width: 100%;
	}
	.gallery-columns-2 & {
		max-width: 50%;
	}
	.gallery-columns-3 & {
		max-width: 30vw;
		height: 30vw;
		@include desktop {
			max-width: 16vw;
			height: 16vw;
		}
	}
	.gallery-columns-4 & {
		max-width: 25%;
	}
	.gallery-columns-5 & {
		max-width: 20%;
	}
	.gallery-columns-6 & {
		max-width: 16.66%;
	}
	.gallery-columns-7 & {
		max-width: 14.28%;
	}
	.gallery-columns-8 & {
		max-width: 12.5%;
	}
	.gallery-columns-9 & {
		max-width: 11.11%;
	}
}

.gallery-caption {
	display: block;
}
