/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

/* Links */

a {
	color: $color__blue;
	text-decoration: none;

	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

/* Menus */

.main-navigation {
	align-items: center;
	clear: both;
	display: flex;
	justify-content: space-between;
	max-width: 100%;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			background-color: rgba(255, 255, 255, 0.9);
			border-radius: 15px;
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			position: absolute;
			top: 2.5rem;
			left: -999rem;
			z-index: 99999;

			ul {
				left: -999rem;
				top: 0;
			}

			&::before {
				content: "";
				width: 0;
				height: 0;
				position: absolute;
				border-left: .5rem solid transparent;
				border-right: .5rem solid transparent;	
				border-bottom: 1rem solid rgba(255, 255, 255, 0.9);
				top: -1rem;
				left: 1.5rem;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				color: $color__blue;
				line-height: 0;
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		float: left;
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}
	
	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

.menu-toggle {
	background: transparent;
	border: none;
	border-color: white;
	border-radius: 3px;
	box-shadow: none;
	color: #fff;
	display: block;
	font-size: 1.5rem;
	margin: 0;
	padding: 0;
	text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
	z-index: 999;

	&:hover {
		border-color: none;
		box-shadow: none;
	}

	.mobile-menu-toggle {
		height: 100%;
		background-color: #fff;
		color: $color__blue-light;
		padding: .75rem 1rem 0 0;
		width: 85vw;
		position: fixed;
		right: 0;
		top: 0;

		.menu-item {
			padding: .5rem 0;
		}
	}

	.mobile-menu-toggle .menu, .sub-menu {
		display: initial;
		text-align: left;
		margin: 0;
		padding: 0;
		list-style: none;

		li {
			margin: 0;
			text-shadow: none;
			width: 85vw;

			@include desktop {
				margin: 0;
				text-shadow: none;
				width: 85vw;
			}
		}
	}

	.mobile-menu-toggle .sub-menu {
		li {
			left: 0;
			background-color: #e1e1e1;
			margin: 0;
			padding: .75rem 2rem;
			text-shadow: none;
			width: 85vw;
		}
	}
}

@media screen and (min-width: 768px) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}	
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 $base__space-unit;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}


.site-header {
	margin-bottom: 2rem;
	position: absolute;
	width: 100%;
	z-index: 999;

	.mobile-menu {
		align-items: center;
		display: flex;
		justify-content: space-between;
		height: 50px;
		background-color: rgba(153, 153, 153, 0.3);
		padding: .4rem .9rem;

		.mobile-logo {
			font-family: $font__heading;
			font-size: 1.1rem;
			text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);

			a:visited {
				color: #fff;
			}
		}

		.fa-search {
			font-size: 1.3rem;
			text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
		}

		@include desktop {
			display: none;
		}
	}

	.desktop-menu {
		display: none;

		@include desktop {
			display: flex;
			justify-content: space-between;
			line-height: 1.5rem;
			margin: 0 auto;
			width: 100%;

			.search-bar .fa-search {
				cursor: pointer;
				font-size: 1.3rem;
				margin: 1.25rem 0 1.25rem .5rem;
    		padding: .15rem .45rem 1.1rem 0;
    		// padding-top: .15rem;
			}

			.search-field {
				display: none;
			}
		}
	}

	.site-branding {
		height: 50px;
		margin-top: .5rem;
		width: 92px;
		
		.logo {
			background:
				url('../../assets/images/evans-lake-logo-white.svg') no-repeat;
			background-size: auto 50px;
			height: 50px;
		}
	}

	.menu {
		align-items: baseline;
		display: flex;
		font-family: $font__heading;
		font-size: 1.2rem;

		.menu-item {
			margin: 1.25rem;
			padding-left: 1.25rem;
			padding-bottom: 1.25rem;

			@include desktop {
				padding-left: 0;
				padding-bottom: 1.25rem;
			}

			.sub-menu .menu-item {
				padding: 1rem;

				@include desktop {
					padding: 0;
					margin-bottom: .5rem;
				}
			}

			.menu-item:first-child {
				margin-top: 1rem;

				@include desktop {
					margin-bottom: 0;
				}
			}

			.menu-item:last-child {
				margin-bottom: 0;

				@include desktop {
					margin-bottom: 1.25rem;
				}
			}

			a, a:visited {
				color: $color__blue-light;
			
				@include desktop {
					color: #fff;
				}
			}

			a:hover {
				color: $color__orange;
			}
		}

		> .menu-item:last-child {
				background: $color__blue;
				color: #fff;
				padding: 1.5rem 1.75rem;
				cursor: pointer;
				position: fixed;
				bottom: 0;
				right: 0;

				@include desktop {
					background: $color__orange;
					border-radius: 1.2rem;
					color: #fff;
					padding: .2rem 1.75rem;
					position: initial;
					bottom: 0;
				}
			
			a {
				background: $color__orange;
				border-radius: 1.2rem;
				color: #fff;
				padding: .2rem 1.75rem;

				@include desktop {
					background: transparent;
					padding: 0;
				}
			}

			a:hover {
				color: $color__blue;
			}

			span {
				display: none;
			}
		}
	}

	.sub-menu {
		.menu-item a, .menu-item a:visited {
			color: $color__blue-light;
			
			@include desktop {
				color: $color__blue;
				line-height: 1.5rem;
			}
		}

		.menu-item a:hover {
			color: $color__orange;
		}
	}

	.search-form {
		fieldset {
			border: none;
			margin: 0;
			padding: 0;
		}
	}
}

.mobile-search {
	display: flex;
}

.fa-search {
	color: #fff;
	cursor: pointer;
}

.mobile-search-expanded {
	align-items: center;
	background-color: $color__blue-light;
	display: none;
	height: 50px;
	padding: .4rem .9rem;

	.fa-search {
		background-color: #fff;
		border-radius: 10px 0 0 10px;
		border-right: 1px solid #b4b4b4;
		color: $color__text-main;
		font-size: 1.3rem;
		height: 38px;
		left: .4rem;
		position: absolute;
		z-index: 1;
		padding: .55rem .45rem;
	}

	.search-form {
		position: relative;
		left: 1.5rem;
		width: 98%;

		input[type=search] {
			padding-left: 15px;
		}

		input:focus {
			outline-width: 0;
		}

		.search-field {
			border: none;
			border-radius: 0 10px 10px 0;
			height: 32px;
			width: 92%;
		}
	}
}

.desktop-search-expanded {
	align-items: center;
	border-radius: 10px;
	display: none;
	height: 38px;
	margin-top: 1.15rem;
	width: 80%;
	justify-content: flex-end;
	background-color: #fff;

	.fa-search {
		border-radius: 0 10px 10px 0;
		border-left: 1px solid #b4b4b4;
		color: $color__text-main;
		font-size: 1.3rem;
		height: 38px;
		left: .4rem;
		padding: .55rem .45rem;
	}

	.search-form {
		height: 38px;
		left: 1.5rem;
		width: 100%;

		input[type=search] {
			padding-left: 15px;
		}

		input:focus {
			outline-width: 0;
		}

		.search-field {
			border-radius: 10px 0 0 10px;
			display: block;
			border: none;
			height: 32px;
			width: 100%;
			z-index: 99999;
		}
	}
}

.carousel-title {
	text-align: center;
}