/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

/* Links */

a {
	color: $color__blue;
	text-decoration: none;

	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

/* Menus */

.main-navigation {
	align-items: center;
	clear: both;
	display: flex;
	justify-content: space-between;
	max-width: 100%;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			background-color: rgba(255, 255, 255, 0.9);
			border-radius: 15px;
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			position: absolute;
			top: 2.5rem;
			left: -999rem;
			z-index: 99999;

			ul {
				left: -999rem;
				top: 0;
			}

			&::before {
				content: "";
				width: 0;
				height: 0;
				position: absolute;
				border-left: .5rem solid transparent;
				border-right: .5rem solid transparent;	
				border-bottom: 1rem solid rgba(255, 255, 255, 0.9);
				top: -1rem;
				left: 1.5rem;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				color: $color__blue;
				line-height: 0;
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		float: left;
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}
	
	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

.menu-toggle {
	background: transparent;
	border: none;
	border-color: transparent;
	border-radius: 3px;
	box-shadow: none;
	color: #fff;
	display: block;
	font-size: 1.5rem;
	margin: 0;
	padding: 0;
	text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
	z-index: 999;

	&:hover {
		border-color: none;
		box-shadow: none;
	}
}

@media screen and (min-width: 768px) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}	
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 $base__space-unit;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}


.site-header {
	margin-bottom: 2rem;
	position: absolute;
	width: 100%;
	z-index: 999;

	.mobile-menu {
		align-items: center;
		display: flex;
		justify-content: space-between;
		height: 50px;
		background-color: rgba(153, 153, 153, 0.1);
		padding: .4rem .7rem;

		.mobile-logo {
			font-family: $font__heading;
			font-size: 1.1rem;
			text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);

			a:visited {
				color: #fff;
			}
		}

		.fa-search {
			font-size: 1.3rem;
			text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
		}

		@include desktop {
			display: none;
		}
	}

	.desktop-menu {
		display: none;

		@include desktop {
			align-items: center;
			display: flex;
			justify-content: space-between;
			margin: 0 auto;
			width: 980px;
		}
	}

	.site-branding {
		height: 50px;
		width: 130px;
		
		.logo {
			background:
				url('../../assets/images/evans-lake-logo.png') no-repeat;
			background-size: auto 50px;
			height: 50px;
		}
	}

	.menu {
		align-items: center;
		display: flex;
		font-family: $font__heading;
		font-size: 1.2rem;

		.menu-item {
			margin: 1.5rem;

			a, a:visited {
				color: #fff;
			}
		}

		.menu-item:last-child {
			background: $color__orange;
			border-radius: 1.2rem;
			color: #fff;
			padding: .2rem 1.75rem;
			cursor: pointer;
		}
	}

	.sub-menu {
		.menu-item a, .menu-item a:visited {
			color: $color__blue;
		}

		.menu-item a:hover {
			color: $color__orange;
		}

		.menu-item:last-child {
			background: transparent;
			padding: 0;
		}
	}

	.search-form {
		fieldset {
			border: none;
			margin: 0;
			padding: 0;

			// input[type=search] {
			// 	display: none;
			// }
		}
	}
	// 	.search-submit {
	// 		background: transparent;
	// 		border: none;
	// 		box-shadow: none;
	// 		font-size: $base__space-unit;
	// 		margin: 0;
	// 		padding: 0;
	// 		text-shadow: none;
	// 	}
	// }
}

.mobile-search {
	display: flex;
}

.fa-search {
	color: #fff;
	cursor: pointer;
}

// .mobile-search-expanded {
// 	align-items: center;
// 	background-color: $color__blue-light;
// 	display: flex;
// 	height: 50px;
// 	padding: .4rem .7rem;

// 	.fa-search {
// 		border-right: 1px solid $color__text-main;
// 		color: $color__text-main;
// 		left: 1.5rem;
// 		position: absolute;
// 		z-index: 1;
// 		padding: .4rem 0.5rem .4rem 0;
// 	}

// 	.search-form {
// 		position: relative;

// 		.search-field {
// 			border: none;
// 			border-radius: .5rem;

// 		}
// 	}
// }