.page-template .activity-hero {
  background-size: cover;
  background-position: center;
  width: 100%;
}
.intro-content {
  margin: 0 1rem;
}
.activity-content {
  margin-bottom: 2rem;
}
.page-template-activities {
  .hero {
    @include desktop {
      height: 40vh;
      margin-bottom: 2rem;
      width: initial;
    }
  }
}
