.activity-hero {
  background-size: cover;
  background-position: center;
}

.bot-brd-blu {
  border-bottom: 1px solid $color__blue;
}

.intro-content {
  margin: 0 1rem;
}

.activity-content {
  margin: 1rem;
}

.page-template-activities {
  .hero {
    @include desktop {
      height: 40vh;
      margin-bottom: 2rem;
      width: initial;
    }
  }
}
