// page-camp-faq.php
.packing-faq-question{
  padding: 1.5rem;
}

// page-orientation-packages.php
.opw-program.title, .cancel.header{
  margin: 2rem 0 0 0;
}
.cancel.container {
  margin: 0 0 5rem 0;
}

// page-site-accommodation.php
.bcca {
  margin-bottom: 2rem;
  padding: 1.5rem;
}
.site-img {
  width: 250px;
}
.page-id-13{
  h2 {
    margin-bottom: 0;
    margin-top: 1.5rem;
  }
}

// page-job-openings.php
.jobs-table {
  h2 {
    margin-bottom: 0;
  }
  .table-container {
    justify-content: space-between;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
  }
  .table-header {
    padding-left: 0;
    padding-right: 0;
  }
  .position, .type, .work-period, .closing-date {
    text-align: center;
    width: 20%;
  }

  .job-closed{
    color: lightgrey;
  }
}