// page-camp-faq.php
.packing-faq-question {
  padding: 1.5rem;
}

// page-orientation-packages.php
.opw-program.title,
.cancel.header {
  margin: 2rem 0 0 0;
}

.cancel.container {
  margin: 0 0 5rem 0;
}

// template-parts/parent-page.php
.banner-image {
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  height: 150px;
}

.banner-title {
  align-self: center;
  margin-bottom: 0;
  color: white;
}

// page-site-accommodation.php
.bcca {
  margin-bottom: 2rem;
  padding: 1.5rem;
}

.site-img {
  width: 250px;
}

.page-id-13 {
  h2 {
    margin-bottom: 0;
    margin-top: 1.5rem;
  }
}

// page-contact-us.php
.subtext {
  color: $color__border-abbr;
  font-size: 0.9rem;
}

.line-end {
  display: block;
}

.detail-name {
  color: $color__blue;
  font-weight: bold;
}

.offices {
  display: flex;
  flex-direction: column;
  @include desktop {
    flex-direction: row;
  }
}

.office {
  margin-bottom: 2rem;
  padding: 1.5rem;
}

.office:first-child {
  @include desktop {
    margin-right: 1rem;
  }
}

.page-id-70 {
  div.accordion {
    margin-top: 2rem;
  }
  h2.accordion {
    margin-bottom: 0rem;
  }
}

// page-job-openings.php
.jobs {
  h2 {
    margin: 0.5rem 0
  }
}

.blog {
  h2 {
    font-size: 2rem;
    margin: 1rem 0;
  }
}

.jobs-table,
.blog {
  .table-container {
    justify-content: space-between;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
  }
  .table-header {
    padding-left: 0;
    padding-right: 0;
  }
  .position,
  .type,
  .work-period,
  .closing-date,
  .date,
  .event,
  .location {
    text-align: center;
    width: 20%;
  }
}

.job-closed,
.event-closed {
  color: lightgrey;
}
