// Camp Program Selection Tabs
.tabbed-view-container, .registration-table {
box-shadow: 0 8px 20px 0 rgba(122,122,122,0.5);
}
.tab-head-container {
  align-content: center;
  background: $color__blue-light;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.tab-head {
  border-right: 1px solid white;
  color: white;
  display: inline-block;
  flex: 1 1 30%;
  text-align: center;
  padding: 1rem;
  &.teen-camp-13-16, &.leadership-14-16{
    border-right: none;
  }
  &.oak-13-16, &.leadership-14-16{
    border-top: 1px solid white;
  }
  &.selected {
    background: $color__blue;
  }
  &:nth-child(n+4){
    flex: 1 1 40%;
  }
}
.tab-body-container{
  margin-bottom: 3rem;
  padding: 3rem 0;
  position: relative;
}
.tab-body {
  left: -1000rem;
  margin: 0 auto;
  max-width: 500px;
  position: absolute;
  width: 90%;
  &.selected{
    left: 0;
    position: relative;
  }
}

// Seasonal Registration Tables
  // Flex Table Layout
.table-header, .table-row, .table-footer {
  display: flex;
  justify-content: space-around;
}
.camp-number, .length, .fee{
  text-align: center;
  width: 2rem;
}
.date-range{
  text-align: center;
  width: 8rem;
}
.camp-program{
  min-width: 8rem;
  text-align: center;
  width: 20rem;
}

.table-header, .table-footer{
  background: $color__blue-light;
  color: white;
}
.table-header {
  padding: 2rem 0.5rem 0.5rem 0.5rem;
}
.table-row {
  color: #7A7A7A;
}
.table-footer {
  justify-content: center;
  i {
    padding: 1rem 2rem 1rem 1rem;
  }
}
