.staff-member {
  span.bio{
    display: none;
  }
  div.image {
    background-position: center;
    background-size: cover;
    height: 150px;
    width: 150px;
  }
  &.fulltime{
    display:flex;
    flex-direction: column;
    border-bottom: 1px solid $color__blue;    
    margin: 0 1.5rem;
    padding: 1.5rem;
    .role{
      margin-top: 0;
    }
    .name, .role {
      display: block;
      margin-bottom: 0;
      text-transform: uppercase;
    }
    .email{
      display: block;
    }
    .tel-1, .tel-2, .year-started {
      display: block;
    }
  }
  &.summer{
    width: 150px;
    .name{
      display:block;
    }
  }
}

.executive-columns {
  border-bottom: 1px solid $color__blue;
}

.executive-columns, .executive.staff-member {
  display: flex;
  justify-content: space-between;
}

.executive-columns h2, .executive.staff-member span {
  display: inline-block;
  text-align: left;
  width: 30%;
}    


.staff-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  &.fulltime{
    flex-direction: column;
  }
  &.executive {
    flex-direction: column;
  }

  &.summer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
}
@include desktop {
  .staff-member{
    &.fulltime {
      flex-direction: row;
      .image {
        margin: 2rem;
      }
      .name, .role {
        display: inline-block;
      }
      .role {
        text-transform: initial;
      }
    }
    &.executive{

    }
  }
  
}