.page-template .activity-hero {
  background-size: cover;
  background-position: center;
  width: 100%;
}

.intro-content {
  margin: 0 1rem;
}

.activity-content {
  margin-bottom: 2rem;
}

.page-template-activities {
  .activity-hero {
    @include desktop {
      height: 40vh;
      margin-bottom: 2rem;
      width: initial;
    }
  }
  .accordion.container {
    margin-top: 1rem;
    position: relative;
    h1 {
      margin-top: 0;
    }
  }
  .ui-icon.iconClosed, .ui-icon.iconOpen {
    right: 1.5rem;
  }
}
