// Camp Program Selection Tab Implementation
.tab-head {
  &.teen-camp-13-16,
  &.leadership-14-16 {
    border-right: none;
  }
  &.oak-13-16,
  &.leadership-14-16 {
    border-top: 1px solid white;
  }
  &.selected {
    background: $color__blue;
  }
  &:nth-child(n+4) {
    flex: 1 1 40%;
  }
}

// Seasonal Registration Tables
// Flex Table Layout
.table-header,
.table-row,
.table-footer {
  display: flex;
  justify-content: space-around;
}

.camp-number,
.length,
.fee {
  text-align: center;
  width: 2rem;
}

.date-range {
  text-align: center;
  width: 8rem;
}

.camp-program {
  min-width: 8rem;
  text-align: center;
  width: 20rem;
}

// Seasonal Tables Formatting
.table-header,
.table-footer {
  background: $color__blue-light;
  color: white;
}

.table-header {
  margin-bottom: 2rem;
  padding: 2rem 0.5rem 0.5rem 0.5rem;
}

.table-row {
  color: #7A7A7A;
  margin-bottom: 0.5rem;
}

.table-row.reg-full {
  color: lightgrey;
}

.table-footer {
  justify-content: center;
  i {
    padding: 1rem 2rem 1rem 1rem;
  }
  padding: 1rem;
  margin: 2rem 0;
  .table-2 & {
    margin-bottom: 5rem;
  }
}

// Cancellation Policy
.cancel.accordion {
  position: relative;
}

.cancel.container {
  margin-top: 2rem;
}

.cancel.block {
  padding-bottom: 1rem;
}

.cancel.condition {
  font-weight: bold;
}
