h2 {
  margin: 0 0 .5rem;
}

p {
  margin-top: 0;
}

.staff-member {
  span.bio {
    display: none;
    position: absolute;
    left: 10%;
    top: 110%;
    width: 80vw;
    background-color: #fff;
    padding: 2rem;
    border-radius: 15px;
    z-index: 15;

    .fa-times {
      color: black;
      width: 21px;
      height: 21px;
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
      display: block;
    }

    .overlay {
      background-color: rgba(0, 0, 0, .2);
      height: 100%;
      left: 0;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 10;
    }
  }

  .image {
    background-position: center;
    background-size: cover;
    height: 135px;
    margin-bottom: .5rem;
    width: 135px;

    @include desktop {
      height: 150px;
      width: 150px;
    }
  }

  &.fulltime {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid $color__blue;
    margin-bottom: 2rem;

    .content {
      padding-bottom: 1rem;
    }

    .role {
      margin-top: 0;
    }

    .name, .role {
      display: block;
      font-size: 1.4rem;
      margin: 0;
      text-transform: uppercase;
    }

    .email {
      display: block;
      color: $color__blue-light;
    }

    .tel-1, .tel-2, .year-started {
      display: block;
    }
  }

  &.fulltime:last-child {
    border: none;
    margin-bottom: 0;
  }

  &.summer {
    width: 135px;

    @include desktop {
      width: 150px;
    }

    .name {
      display: block;
    }
  }
}

@include desktop {
  .staff-member {
    
    &.fulltime {
      flex-direction: row;
    
      .image {
        margin: 0 2rem 2rem 0;
      }
    
      .name, .role {
        display: inline-block;
      }
    
      .role {
        text-transform: initial;
      }
    }
    &.executive {

    }
  }
}

.executive {
  line-height: 1.5rem;
  margin-bottom: 1rem;

  &:last-child {
    border-bottom: 1px solid $color__blue;
    padding-bottom: .5rem;
  }

  .executive-columns .name, .staff-member .name {
    width: 30%;
  }

  .executive-columns .role, .staff-member .role {
    width: 40%;
  }

  .executive-columns .email, .staff-member .email {
    width: 30%;
  }
}

.executive-columns {
  border-bottom: 1px solid $color__blue;
  margin-bottom: .5rem;
}

.director-columns {
  border-bottom: 1px solid $color__blue;
}

.executive-columns, .executive.staff-member {
  display: flex;
  justify-content: space-between;
}

.executive-columns h3, .executive.staff-member span {
  color: $color__blue;
  display: inline-block;
  text-align: left;
}    

.director.staff-container {
  color: $color__blue;
  display: inline-block;

  p {
    line-height: 2.5rem;
  }

  p {
    margin: 0;
  }
}

.staff-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;

  &.summer {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.board-container {
  border-radius: 15px;
  box-shadow: 0 10px 35px rgba(0, 0, 0, .1);
  margin-bottom: 3rem;
  padding: 2rem;

  h2 {
    margin: 0 0 .5rem;
  }

  h3 {
    margin: 0;
  }
}

.summer {
  margin-bottom: 2rem;

  .content{
    display: flex;
    flex-direction: column;
  }

  h2 {
    margin: 0;
  }

  .role {
    font-style: italic;
  }
}

.orange-button {
  align-self: flex-start;
  background-color: $color__orange;
  border: none;
  border-radius: 15px;
  box-shadow: none;
  color: #fff;
  font-size: .9rem;
  margin-top: .5rem;
  padding: .4rem 1.75rem .5rem;
  text-shadow: none;

  @include desktop {
    align-self: center;
  }

  &:hover {
    background-color: #ff8600;
    box-shadow: none;
  }
}