.search {
  .site-main {
    padding: 0;

    .page-header {
      padding: 0 1rem;

      @include desktop {
        padding: 0;
      }
    }
  }

  .hentry {
    margin: 0;

    @include desktop {
      margin-bottom: 2.5rem;
    }
  }

  .hero-search {
    height: 80vh;
    margin-bottom: 2rem;
    object-fit: cover;
    width: 100%;
  }

  article {
    box-shadow: 0 8px 20px 0 rgba(122,122,122,0.3);
    box-shadow: inset 0 8px 30px -6px rgba(225,225,225,.5);
    display: block;

    @include desktop {
      box-shadow: 0 8px 20px 0 rgba(122,122,122,0.3);
      background-color: #fff;
      display: flex;
      justify-content: space-between;
    }
  }

  .search-image {
    display: none;

    @include desktop {
      display: block;
      float: left;
      width: 50%;
    }

    img {
      height: 100%;
      object-fit: cover;
    }
  }

  .search-content {
    padding: 2rem 1rem;
    width: 100%;

    @include desktop {
      padding: 1rem;
    }

    h2 {
      margin: 0;
    }

    .entry-title {
      font-size: 1.75rem;
      line-height: 2rem;
      margin: 0 0 .5rem;
    }

    .entry-summary {
      margin: 0;
    }
  }

  .search-title {
    font-size: 1rem;
    padding-bottom: 2rem;
  }

  .search-query {
    color: #000;
    font-style: italic;
    text-transform: capitalize;
  }

  .search-pagination {
    color: $color__text-main;
    padding: 0 1rem;
    margin: 2rem 0;

    a {
      color: $color__text-main;
    }

    :hover {
      color: $color__blue;
    }

    .current {
      color: #000;
      font-weight: bold;
    }
  }
}